<div class="tbg">
  <div class="tbgwrap">
      <app-card  [parentSubject]="parentSubject" (hideActionIcons)="hideActionIcons($event)">
      </app-card>
    <div *ngIf="showIcons" class="tcontrols">
      <div (click)='profileShortListed()' class="tshortlisted"><i class="fa fa-star" aria-hidden="true"></i></div>
      <div (click)='cardAnimation("swipeleft")' class="tno"><i class="fa fa-times" aria-hidden="true"></i></div>
      <div (click)='cardAnimation("swiperight")' class="tyes"><i class="fa fa-check" aria-hidden="true"></i></div>
    </div>
  </div>
</div>
